/*remove panel side borders*/
.list-group-item,
.panel{
    border-left-color: transparent;
    border-right-color: transparent;
}

/*panel fullwidth link*/
.panel-heading{
    >.panel-title{
        margin: -10px -15px;
        a{
            display: block;
            padding: $panel-heading-padding;
        }
    }
}

/*panel first child offset*/
.panel-body{
    >:first-child{
        margin-top: 22px;
    }
}
