#scrollTopLink{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 40px;
    margin-right: $grid_gutter_width/2;
    transform: translate3d(0,-50%,0);

    &:hover,
    &:focus{
        color: $gray;
    }
    span{
        background-color: #FFF;
        border-radius: 50%;
    }
}
