.content-info{

    .container{
        position: relative;

    }

    .holder{

        @media (min-width: $screen-md-min){
            display: table;
            width: 100%;
            table-layout: fixed;
        }

        @media (min-width: $screen-md-min){
            > section{
                display: table-cell;
                vertical-align: top;

                & + section{
                    padding-left: 2em;
                }
            }
        }
    }

    .copyright{
        margin-bottom: $grid-gutter-width;
    }

    .widget{

        .post-date{
             display: block;
        }

        .menu{
            >li{
                position: relative;
            }
        }
    }

    .gform_wrapper{
        .validation_error{
            display: none;
        }
        .gfield_error{
            .validation_message{
                color: $brand-danger;
                white-space: nowrap;
            }
        }
    }
}

