.navbar-default{
    border-width: 0;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);

    /*remove navbar margin*/
    &.navbar-static-top,
    &.navbar-fixed-top{
        margin-bottom: 0;
    }

    /*navbar header*/
    .navbar-header{
        padding: $navbar-padding-vertical $grid-gutter-width/2;
    }

    /*navbar collapse*/
    .navbar-collapse{
        @media (min-width: $screen-sm-min){
            float: right;
            padding-top: $navbar-padding-vertical;
            padding-bottom: $navbar-padding-vertical;
        }
    }

    /*logo*/
    .navbar-brand{
        font-size: inherit;
        padding: 0;
        height: auto;
        line-height: auto;
        display: block;
        float: none;
        outline: none;

        @media (max-width: $screen-xs-max){
            margin-left: 60px;
        }

        @media (min-width: $screen-sm-min){
            display: inline-block;
            vertical-align: top;
        }

        .text{
            display: inline-block;
            vertical-align: middle;

            .name,
            .tagline{
                display: block;
                white-space: nowrap;
            }
            .tagline{
                font-size: .6em;
            }

        }

        img{
            width: auto;
            max-width: 100%;
            max-height: $navbar-height;
            margin-right: $grid-gutter-width/2;
            display: inline-block;
            vertical-align: middle;
        }

    }

    /*menu toggle button*/
    .navbar-toggle{
        position: absolute; 
        top: 0;
        left: 0;
        margin: 20px 0 0 20px;
    }

    /*navbar*/
    .navbar-nav{
        float: none;
        margin-top: 0;
        margin-bottom: 0;

        @media (max-width: $screen-xs-max){
            overflow: hidden;
        }

        >li{
            >a{
                position: relative;

                @media (max-width: $screen-xs-max){
                    padding-top: 0.5em;
                    padding-bottom: 0.5em;
                }
            }

            >.dropdown-menu .dropdown-menu{
                @media (max-width: $screen-xs-max){
                    opacity: 1;
                    visibility: visible;
                    transform: translate3d(20px,0,0);
                }
            }

        }

    }
}


/*dropdown menu*/
.dropdown-menu{
    padding: 0;
    margin: 0;
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
    border: 0 none;
    font-size: inherit;

    transform: translate3d(0,30px,0);
    top: 100%;
    left: 0;

    display: block;
    visibility: hidden;
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    will-change: transform;

    @media (min-width: $screen-sm-min) {
        max-width: 320px;
    }

    >li{
        &.active >a{
            &:before{
                content: "";
                display: block;
                margin: auto;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: 0;
                height: 0;
                overflow: hidden;
                font-size: 0;

                border-color: transparent;
                border-style: solid;
                border-width: 1em;
                border-right-width: 0;
                border-left-width: .5em;
                border-left-color: $dropdown-link-hover-bg;

                transition-duration: .2s;
                transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
                transition-property: border-color;
            }
            &:hover,
            &:focus{
                 background-color: $dropdown-link-hover-bg;
                 color: #fff;
            }
            &:hover,
            &:focus{
                &:before{
                     border-left-color: $dropdown-link-hover-color;
                }
            }
        }

        >a{
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            position: relative;
            white-space: nowrap;
            display: block;
        }

        >.dropdown-menu{
            left: 100%;
            top: 0;
            transform: translate3d(30px,0,0);
        }

        &.dropdown-rtl >.dropdown-menu{
            right: 100%;
            left: auto;
            transform: translate3d(-30px,0,0);
        }

        &:hover,
        &:focus{
            >.dropdown-menu{
                transform: translate3d(0,0,0);
                opacity: 1;
                visibility: visible;
            }
        }

    }

}

.open{
    >.dropdown-menu{
        transform: translate3d(0,0,0);
        opacity: 1;
        visibility: visible;
    }
}
.dropdown-rtl{
    >.dropdown-menu{
        left: auto;
        right: 0;
    }
}
